body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.clear-float {
  display: block;
  clear: both;
}
