body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.clear-float {
  display: block;
  clear: both;
}

.global__title {
  font-family: $fontLobster;
  font-size: 1.8rem;
  text-align: center;
  color: $colorAccent;
  margin-bottom: 2rem;

  @mixin atSmall {
    margin-bottom: 4rem;
  }

  @mixin atLarge {
    font-size: 2.2rem;
  }
}

.global__p-centered {
    font-weight: bold;
    text-align: center;
    &--green {
      color: $colorAccent;
    }
}
