/* maroon */
$colorMaroon: #635054;

$colorPrimary: #362d30;

/*green*/
$colorAccent: #9fb70d;

/*fonts*/
$fontLobster: 'Lobster', cursive;
$fontLobsterTwo: 'Lobster Two', cursive;

$headerColor: rgba(0,0,0, 0.4);
