/* maroon */
$colorPrimary: #4B5126;
$colorMaroon: #635054;
/*green*/
$colorAccent: #9fb70d;

/*fonts*/
$fontLobster: 'Lobster', cursive;
$fontLobsterTwo: 'Lobster Two', cursive;

$headerColor: rgba(0,0,0, 0.4);
