.about {
  /* background: url('/assets/images/about1.jpg') no-repeat  0 center fixed; */
  /* background-size: cover; */
  background-color: white;
  overflow: hidden;

  &__content {
    max-width: 980px;
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 6rem;

    @mixin atMedium {
      margin: 0 auto 0 auto;
      padding: 4rem 0 8rem 0;
    }
  }

  &__first-p-atSmaller {

    margin-bottom: 1rem;
    @mixin atSmall {
      display: none;
    }
  }

  &__first-p-atSmall {
    display: none;

    @mixin atSmall {
      display: block;
    }
  }

  p {
    font-family: $fontLobsterTwo;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      font-size: 1.3rem;
    }

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }

  &__first-pic {
    display: inline;
    float: left;
    margin-bottom: 2rem;

    @mixin atSmall{
      margin-right: 2rem;
      max-width: 200px;
    }

    @mixin  atMedium {
      max-width: 400px;
    }

  }
}
