.contact {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background: black;

  p {
    font-family: $fontLobsterTwo;
    font-weight: bold;
    text-align: center;
    color: white;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      font-size: 1.3rem;
    }

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }

  &__content {
    max-width: 980px;
    margin: auto;

    &__col {
      text-align: center;
      width: 50%;
      float: left;

      img {
        max-width: 180px;
      }

      @mixin atMedium {
        width: 25%;
      }
    }
  }
}
