.elagage {
<<<<<<< HEAD
  background: $colorMaroon;
=======
  background: #362d30;
>>>>>>> f622d806e501ae9f1c31ed20602fe967c44ff1d0
  color: white;
  font-family: $fontLobsterTwo;
  padding-top: 7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 5rem;

  &__content {
    max-width: 980px;
    margin: auto;
  }

  &__col {
    float: left;
    width: 46%;
    margin: 2% 2%;

    @mixin atSmall {
      width: 23%;
      margin: 1% 1%;
    }
  }

  p {
    font-family: $fontLobsterTwo;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      font-size: 1.3rem;
    }

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }
}
