.elagage {
  background: $colorMaroon;
  @mixin atMedium {
    background: url('/assets/images/elagage_background.png') no-repeat 0 center fixed;
  }
  //background: $colorMaroon;
  color: white;
  font-family: $fontLobsterTwo;
  padding-top: 4rem;
  padding-bottom: 5rem;

  &__content {
    max-width: 980px;
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }

  .scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 980px;
  margin: auto;

  .card {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    img{
      height: 15rem;
      border-radius: 0.5rem;

      @mixin atSmall {
        height: 22rem;
      }

      @mixin atLarge {
        height: 25rem;
      }
    }
  }


}

  p {
    font-family: $fontLobsterTwo;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      font-size: 1.3rem;
    }

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }
}
