.home-section {
  position: relative;

  &__content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &__logo {
      width: 90%;

      @mixin atLarge {
        max-width: 500px;
      }
    }

    &__text {
      margin-top: 1rem;
      margin-bottom: 5rem;
      font-family: 'Lobster', cursive;
      font-size: 4.8rem;
      color: white;

      @mixin atLarge {
        font-size: 3.5rem;
        margin-bottom: 2rem;
      }
    }

    &__button {
      font-size: 4.8rem;
      color: white;
      background: #8ECC4E;
      display: inline;
      padding: 0.5rem 1.5rem;
      border: white 0.4rem solid;

      @mixin atLarge {
        font-size: 1.8rem;
        border: white 0.2rem solid;
      }
    }
  }
}
