.home-section {
  position: relative;

  &__image {
    display: block;
  }

  &__content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &__logo {
      width: 250px;

      @mixin atSmall {
        width: 450px;
      }

      @mixin atMedium {
        width: 500px;
      }

      @mixin atLarge {
        width: 500px;
      }
    }

    &__text {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-family: 'Lobster', cursive;
      font-size: 1.5rem;
      color: white;
      text-shadow: 1px 1px 1px black;

      @mixin atSmall {
        font-size: 1.8rem;
      }

      @mixin atMedium {
        font-size: 2.2rem;
      }

      @mixin atLarge {
        font-size: 2.8rem;
      }
    }

    &__btn {
      display: inline;
      padding: 0.4rem 1rem;
      background-color: $colorAccent;
      color: white;
      border: 1px white solid;
      box-shadow: 1px 2px 10px black;
    }
  }
}
