.reveal-item{
  opacity: 0;

  /* @mixin atMedium{
    transform: scale(1.15);
  } */

  &--is-visible{
    opacity: 1;
    //transform: scale(1);
    transition: all 1.5s ease-in;

  }
}

.reveal-item--from-left {
  opacity: 0;
  transform: translateX(-4rem);

  &--is-visible {
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s ease-in;
  }
}

.reveal-item--from-right {
  opacity: 0;
  transform: translateX(4rem);

  &--is-visible {
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s ease-in;
  }
}
